<div>
    <div class="d-flex flex-row">
        <div class="col-md-3">
            <div class="card card1 p-3">
                <div class=" image d-flex flex-row align-items-center mt-3"> <img src="https://i.imgur.com/R4afbIg.png" height="50" width="50" /> <span>Quizzier</span> </div>
                <hr class="hline">
                <div class="d-flex flex-column align-items-center">
                  <button class="btn"><i class="fa fa-dashboard"></i><span>Dashboard</span></button>
                  <button class="btn mt-3"><i class="fa fa-users"></i><span>Users</span></button>
                   <button class="btn mt-3"><i class="fa fa-inbox"></i><span>Inbox</span></button>
                  <button class="btn mt-3"><i class="fa fa-book"></i><span>Knowlwdge</span></button>
                  <button (click)="logOut()" class="btn btn-danger mt-3"><i class="fa fa-trash"></i><span >Log Out</span></button> </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card2 p-3">
                <div class="hello d-flex justify-content-end align-items-center mt-3">
                   <span>Hi,{{user.username}}</span> </div>
                <div class="d-flex justify-content-center mt-5 gap-2 p-3">
                    <div>
                        <div class="card cardchildchild p-2">
                            <div class="profile1"> <img src="https://i.imgur.com/NI5b1NX.jpg" height="90" width="90" class="rounded-circle" /> </div>
                            <div class="d-flex flex-column justify-content-center align-items-center mt-5"> <span class="name">Bess Wills</span> <span class="mt-1 braceletid">Bracelet ID:SFG 38393</span> <span class="dummytext mt-3 p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text elit more smtit.Kimto lee. </span> </div>
                            <div class="d-flex justify-content-center align-items-center mt-3"> <button class="btn1">Next Appoinment</button> </div>
                            <div class=" icons d-flex flex-row justify-content-center gap-3 mt-4"> <span><i class="fa fa-google"></i></span> <span><i class="fa fa-facebook"></i></span> <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-instagram"></i></span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
