    <div class="container card mt-sm-5 my-1" *ngFor="let question  of quizzes | transform">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>Q. {{question[0].question}}</b></div>
        <mat-radio-group name={{question[1].id}} class="example-radio-group">
        <mat-radio-button *ngFor="let question of question[2]" [value]="question.ans" class="example-radio-button"
                     (click)="chooseAnswer(question.id,question.answer)" >{{question.ans}}
        </mat-radio-button>
        </mat-radio-group>
        </div>
    </div>
    <div class="ml-auto mr-sm-5">
    <button [disabled]="answers.length!==quizzes.length"
    class="btn btn-success" (click)="checkResult()"
    >Check result</button>
    </div>
